---

---

<div class="relative h-12">
  <div
    class="pointer-events-none absolute inset-0
              bg-[radial-gradient(60%_50%_at_50%_0,var(--surface-ring),transparent_70%)]"
  >
  </div>
</div>
